@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
	margin: 0%;
	padding: 0%;
	width: 100%;
	font-size: 18px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
}
.strong {
	font-weight: 500;
}
.small {
	font-size: small;
}
.blue_color {
	color: #123853;
}
.orange_color {
	color: #f55a1b;
}
.navbar {
	background-color: #d9d9d9;
	width: 100%;
	height: 15vh;
	color: #123853;
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navbar > h1 {
	margin-left: 20px;
	font-size: 30px;
}
.navbar > div {
	margin-right: 20px;
	display: flex;
	align-items: center;
}
.navbar > div > button {
	background-color: white;
	height: 54px;
	width: 54px;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.navbar > div > button > svg {
	margin: auto;
}
.navigations > a {
	text-decoration: none;
	margin: 20px;
	color: #123853;
}
.navigations > a:link {
	font-weight: 400;
}

.navigations > a:visited {
	font-weight: 400;
}

.navigations > a:focus {
	font-weight: bold;
}

.navigations > a:hover {
	font-weight: bold;
}

.navigations > a:active {
	font-weight: bold;
}
.active_link {
	font-weight: bold;
	color: red;
}
.site_main {
	height: 85vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 15vh;
}
.main_icons {
	width: 100px;
	display: flex;
	justify-content: space-between;
}
.main_image {
	width: 225px;
	height: 225px;
	border-radius: 150px;
	display: flex;
	align-items: end;
	overflow: hidden;
}
.about_card {
	padding: 20px;
	background-color: #f5f5f5;
	min-height: 300px;
	height: fit-content;
	display: flex;
	flex-direction: column;
}
.about_details {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 2fr;
}
.descriptive_button {
	border: 2px solid #1e736e;
	width: 350px;
	height: fit-content;
	border-radius: 5px;
	display: flex;
	align-items: center;
}
.descriptive_icon {
	background-color: #1e736e;
	height: 40px;
	width: 40px;
	margin: 10px;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.descriptive_button_card {
	height: 100%;
	margin: 10px 0px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.descriptive_icon {
	color: #fff;
}
.active-descriptive_button_card {
	background-color: #1e736e;
	color: white;
}
.active-descriptive_button_card > .descriptive_icon {
	background-color: white;
	color: #1e736e;
}
.about_descriptive_card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.about_descriptive_card > div {
	margin-top: 10px;
	height: 100%;
}
.about_descriptive_card > span {
	font-weight: 500;
	color: #f55a1b;
}
.achievement_card {
	width: 500px;
	height: auto;
	border: 1px solid #123853;
	padding: 15px;
	display: flex;
}
.achievement_img {
	border: 1px solid #123853;
	border-radius: 5px;
	height: 184px;
	width: 184px;
}
.achievement_description {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.achievement_description > a {
	color: #123853;
}
.achievement_description > a:visited {
	color: #f55a1b;
}
.repo_card {
	border: 1px solid #123853;
	height: fit-content;
	width: 400px;
}
.sub_info_repo_card {
	display: flex;
	justify-content: space-between;
}
